/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
body
{
	font: 12px Arial, Helvetica, sans-serif;
}

*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/

#TB_window, #TB_window_old  {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a.linking, #TB_window a.linking:link, #TB_window a.linking:visited, #TB_window_old a.linking, #TB_window_old a.linking:link, #TB_window_old a.linking:visited{
	color:#88A93B;
	font-weight:bold;
	text-decoration:none;
}

#TB_window a.linking:hover, #TB_window_old a.linking:hover{
	text-decoration:underline;
}
#TB_closeWindowButton, .heroku_logs_refresh, #TB_closeWindowButton_old, #open_new_window a, #clear_logs a{
	color:#525252;
	font-weight:bold;
	text-decoration:underline;
}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay, #TB_overlay_old {
	background:none repeat scroll 0 0 black;
	height:100%;
	left:0;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay,* html #TB_overlay_old  { /* ie6 hack */
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

* html #TB_overlay_old { /* ie6 hack */
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window , #TB_window_old {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 7px solid #525252;
	text-align:left;
	top:40%;
	left:50%;
}

#TB_window_old {
    z-index: 100;
}


* html #TB_window, * html #TB_window_old { /* ie6 hack */

	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}


* html #TB_window_old { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window_old img#TB_Image , #TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow, #TB_closeAjaxWindow_old{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle, #TB_ajaxWindowTitle_old{
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-bottom:1px;
	padding:10px 0 0 15px;
}

#TB_title, #TB_title_old{
	background-color:#E8E8E8;
	height:40px;
}

#TB_ajaxContent, #TB_ajaxContent_old{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent .help_container ul{
	margin-bottom:10px;
margin-left:30px;
margin-top:10px;
}
#TB_ajaxContent .help_container ul li{
	margin-top:5px;
}



h3, #TB_ajaxContent h3, #TB_ajaxContent_old h3{
	font-size:12px;
	margin:10px 0;
}
#TB_ajaxContent_old h3 span, #TB_ajaxContent h3 span{
	color:#003867;
	font-size:18px;
}

#TB_ajaxContent_old.TB_modal, #TB_ajaxContent.TB_modal{
	padding:15px;
}

p, #TB_ajaxContent p,  #TB_ajaxContent_old p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
	background:url("loadingAnimation.gif");
}

* html #TB_load { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
#TB_iframeContent body{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> Form <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/

h3.groups{
font-size:13px;
margin-bottom:10px;
margin-top:20px;
}

fieldset {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding:0 10px 10px;
	background:none repeat scroll 0 0 #F0F0F0;
	border:1px solid #E5E5E5;
	margin-top: 5px;
	float:left;
	margin-bottom: 14px;
	width:97%;
}
legend {
	color:#003867;
	font-weight:bold;
}
fieldset label{
	font-size:11px;
}

h2{
	font-size:14px;
	margin-bottom:5px;
	margin-top:10px;
}

.clear{ 
	display:block;
	clear:both;
}
label{
	font-weight:bold;
	color:#454555;
}

.col_container{
	width:100%;
}

.pro_drop_up:hover{
    background-position:left bottom;
}
.pro_drop_up {
background:url("../assets/dashboard/drop_up.png") no-repeat scroll left top transparent;
border:medium none;
cursor:pointer;
display:inline-block;
height:11px;
margin-bottom:-2px;
width:10px;
}
.pro_drop_down:hover{
    background-position:left bottom;
}
.pro_drop_down {
    background:url("../assets/dashboard/drop_down.png") no-repeat scroll left top transparent;
    border:medium none;
    cursor:pointer;
    display:inline-block;
    height:8px;
    margin-bottom:0;
    width:12px;
}
.title_box_pro{
background:none repeat scroll 0 0 #F0F0F0;
border-bottom:1px solid #E5E5E5;
font-size:11px;
font-weight:bold;
padding:7px 7px 7px 12px;
width:93.3%;;
}
.box_pro_container{
    background:none repeat scroll 0 0 #F8F8F8;
    border-top:1px solid #FFFFFF;
    overflow:hidden;
    padding:10px;
    width:93%;
}
.left_short_pro{
    float:left;
    margin-right:10px;
    margin-top:-5px;
    width:155px;
}

.left_long {
	float:left;
	margin-right:10px;
	width:55.5%;
}
.left_long_file {
	float:left;
	margin-right:10px;
	margin-top:0;
	padding:0 5px 5px;
}
.left_tiny{
	float:left;
	margin-right:15px;
	width:19.5%;
}

.left_short{
	float:left;
	margin-right:10px;
}
.left{
	float:left;
	margin-right:10px;
	width:46%;
}
.modal_hr{
	margin-top:5px;
}
.private_app{
	background-color:#FFFCCC;
	border:1px solid #DEDEDE;
	color:#454555;
	float:left;
	font-size:11px;
	margin-top:10px;
	padding:5px 15px;
	width:96%;
}

.info_table{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#FFFFC2;
	border-top:1px solid white;
	margin-top:10px;
	padding:15px;
	width:94%;
}

.tint {
	color:#666666;
	display:inline-block;
	margin-top:10px;
}


.information {
	background-color:#FFFCCC;
	border:1px solid #DEDEDE;
	color:#003867;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-bottom:18px;
	margin-top:10px;
	padding:8px;
	width:96%;
}

.information_pay{
	background-color:#FFFCCC;
	border:1px solid #DEDEDE;
	color:#003867;
	float:left;
	font-size:12px;
	font-weight:bold;
	margin-bottom:18px;
	margin-top:10px;
	padding:3px;
	width:96%;
}

#app_type{
	margin-left:15px;
	margin-top:10px;
}

.small_desc{
	font-size:11px;
	font-style:italic;
}

.modal_input {
	border:1px solid #CCCCCC;
	color:#454555;
	display:block;
	padding:5px;
	width:96%;
	font-size:13px;
}

.modal_input_select{
	border:1px solid #CCCCCC;
	color:#454555;
	display:block;
	padding:4px;
	width:96%;
	font-size:13px;
}

.modal_input_select_short{
	border:1px solid #CCCCCC;
	color:#454555;
	display:inline;
	font-size:13px;
	padding:4px;
	width:135px;
}
.modal_input_select_small {
	border:1px solid #CCCCCC;
	color:#454555;
	display:inline-block;
	float:right;
	font-size:12px;
	height:25px;
	margin-top:5px;
	padding:4px;
	width:100px;
}
.modal_input_short_li{
	background:none repeat scroll 0 0 white;
	border:1px solid #CCCCCC;
	color:#454555;
	display:inline-block;
	float:right;
	font-size:13px;
	height:25px;
	margin-top:5px;
	padding-left:6px;
	width:92px;
} 
.modal_input_short {
	border:1px solid #CCCCCC;
	color:#454555;
	display:block;
	height:28px;
	padding-left:5px;
	width:56%;
	float:left;
	font-size:13px;
}
.modal_area {
	border:1px solid #CCCCCC;
	color:#454555;
	display:block;
	font-size:12px;
	height:80px;
	padding:5px;
	width:96%;
}

.modal_area_file {
	border:1px solid #CCCCCC;
	color:#454555;
	display:block;
	font-size:12px;
	height:60px;
	padding-left:5px;
	padding-top:5px;
	width:98%;
}
.update_app:hover{
	background-position:left bottom;
}
.update_app {
	background:url("../images/update_app.png") no-repeat scroll left top transparent;
	border:medium none;
	cursor:pointer;
	display:block;
	height:31px;
	margin-bottom:5px;
	margin-top:5px;
	width:173px;
}

ul.ssh_tabs li.collaborator {
	height:35px;
	padding-left:0;
}
ul.ssh_tabs li a.delete_my_app{
	margin-left:30px;
	margin-top:6px;
}
ul.ssh_tabs li span{
	display:inline-block;
	float:left;
	padding-left:10px;
	padding-top:5px;
}
.gravatar_box_small_modal {
	background-image:url("../small_avatar.jpg");
	border:1px solid #A4A4A6;
	display:inline-block;
	float:left;
	height:25px;
	margin-left:10px;
	margin-top:4px;
	width:25px;
}

.app_private:hover{
	background-position:left bottom;
}
.app_private{
	background:url("../images/app_private.png") no-repeat scroll left top transparent;
	display:block;
	float:right;
	height:16px;
	margin-top:-2px;
	margin-right:3px;
	width:16px;
}

#new_deploy{
	float:right;
	margin-bottom:10px;
}

.deploy:hover{
	background-position: 0px -97px;
}
.app_public:hover{
	background-position:left bottom;
}
.app_public{
	background:url("../images/app_public.png") no-repeat scroll left top transparent;
	display:block;
	float:right;
	height:16px;
	margin-right:3px;
	margin-top:-2px;
	width:16px;
}
.app_public_empty{
	display:block;
	float:right;
	height:16px;
	margin-right:3px;
	margin-top:-2px;
	width:16px;
}
.download_build:hover{
	background-position:left bottom;
}
.download_build{
	background:url("../images/download_build.png") no-repeat scroll left top transparent;
	display:block;
	height:22px;
	width:24px;
}

.download_build_log:hover{
	background-position:left bottom;
}

.download_build_log{
	background:url("../images/download_build_log.png") no-repeat scroll left top transparent;
	display:block;
	height:22px;
	width:24px;
}

#upgrade_my_plan:hover{
	background-position:left bottom;
}
#upgrade_my_plan{
	background:url("../images/upgrade_my_plan.png") no-repeat scroll left top transparent;
	border:medium none;
	cursor:pointer;
	display:block;
	height:24px;
	margin-top:20px;
	width:148px;
}

.heroku_logs{
/*  background-color:black;*/
  border:1px solid #CCCCCC;
/*  color:#55D839;*/
  color:black;
  display:block;
  font-size:12px;
  font-family:Monaco, monospace;
  height:290px;
  margin-bottom:10px;
  margin-top:15px;
  padding-left:5px;
  padding-top:5px;
  width:99%;
}


#downgrade_my_plan:hover{
	background-position:left bottom;
}
#downgrade_my_plan{
	background:url("../images/downgrade_my_plan.png") no-repeat scroll left top transparent;
	border:medium none;
	cursor:pointer;
	display:block;
	height:24px;
	margin-top:20px;
	width:148px;
}
/*************************************************************************/
/*************************************************************************/
#modal_table{
	border-collapse:collapse;
	width:100%;
}
#modal_table th{
	background:none repeat scroll 0 0 #DDDDDD;
	color:#003867;
	font-size:12px;
/*  padding:10px 5px 10px 5px;*/
	text-align:left;
}
#modal_table th.rhodes{
  background:none repeat scroll 0 0 #F0F0F0;
}
#modal_table tr{
	border-bottom:1px solid #DDDDDD;
	font-size:11px;
	line-height:34px;
}

#modal_table tr.light:hover, #modal_table tr.dark:hover, #modal_table tr:hover{
	background: #F5FFDF;
}
#modal_table tr.light{
	background:none repeat scroll 0 0 #FFFFFF;
	font-size:15px;
	font-weight:bold;
}
#modal_table tr.not_light{
	font-size:15px;
	font-weight:bold;
}
#modal_table tr.dark{
	background: #F9F9F9;
}
#modal_table td{
	line-height:34px;
	text-align: left;
}
#modal_table td a{
	color:#2C0000;
}
#modal_table td.col_git_revision, #modal_table th.col_git_revision{
  width:16%;
  padding-left: 5px;
}
#modal_table td.done_by, #modal_table th.done_by{
  width:10%;
}
#modal_table td.done_by_rhoconnect, #modal_table th.done_by_rhoconnect{
  width:15%;
}
#modal_table td.date_rhoconnect, #modal_table th.date_rhoconnect{
  width:60%;
}
#modal_table td.date, #modal_table th.date{
  width: 27%;
}
#modal_table th.date{
  font-size: 12px;
}
#modal_table td.rhodes_revision, #modal_table th.rhodes_revision{
  width:17%;
  text-align: left;
}
.table_overflow{
  max-height:200px; 
  overflow:auto;
}
.send_request:hover{
	background-position:left bottom;
}
.send_request{
	background:url("../images/send.png") no-repeat scroll left top transparent;
	border:medium none;
	cursor:pointer;
	display:block;
	height:24px;
	margin-top:20px;
	width:108px;
}

#help_container ul{
margin-left:30px;
margin-top:10px;
}
#help_container ul li{
	margin-top:5px;
}
#help_container .exit{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #CCCCCC;
	color:#666666;
	cursor:pointer;
	float:right;
	font-size:11px;
	margin-right:-13px;
	margin-top:-13px;
	padding:1px 7px;
	text-decoration:none;
}
#help_container .exit:hover{
	background:none repeat scroll 0 0 #ECECEC;
}
#help_container ol{
	margin-left:20px;
	margin-top:-5px;
	padding-bottom:10px;
}
.question_modal_build:hover, #question_modal:hover{
  background-position:-26px -16px;
}
#question_modal {
  background: url("../dashboard/sprite_dashboard.png") repeat scroll -26px 0 transparent;
	border:medium none;
	cursor:pointer;
	display:inline-block;
	float:right;
	height:16px;
	margin-left:10px;
	vertical-align:middle;
	width:16px;
}
.question_modal_build, #question_modal_build {
  background: url("../dashboard/sprite_dashboard.png") repeat scroll -26px 0 transparent;
	border:medium none;
	cursor:pointer;
	display:inline-block;
	height:16px;
	margin-left:5px;
	vertical-align:text-bottom;
	width:16px;
}
/*************************************************************************/
/*************************************************************************/
.SI-FILES-STYLIZED label.cabinet
{
	background:url("../images/btn-choose-file.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
	display:block;
	height:22px;
	margin-top:5px;
	overflow:hidden;
	width:91px;
}

.SI-FILES-STYLIZED label.cabinet input.file
{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.build_file_name{
display:inline-block;
font-size:10px;
margin-left:5px;
margin-top:10px;
}
.icon_rhodes{
  background: url("../dashboard/sprite_dashboard.png") repeat scroll -47px 0 transparent;
  display: inline-block;
  height: 43px;
  width: 26px;
  float:left;
  margin-right: 10px;
}
.icon_rhosync{
  background: url("../dashboard/sprite_dashboard.png") repeat scroll -45px -43px transparent;
  display: inline-block;
  height: 30px;
  width: 30px;
  float:left;
  margin-right: 10px;
}

.create_build {
  background: url("../rho_gallery/btn_sprite_show_page.png") repeat scroll 0 0 transparent;
  border: medium none;
  cursor: pointer;
  display: block;
  height: 31px;
  margin-bottom: 10px;
  top: 12px;
  width: 78px;
}

.create_build:hover{
	background-position:0 -31px;
}
/*.create_build:hover{
  background-position:left bottom;
}
*/
.create_build_block, .create_build_block:hover{
  background-position:none!important;
  cursor:auto;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.delete_my_app:hover{
	background-position:left bottom;
}
.delete_my_app{
	background:url("../dashboard/app_delete.png") no-repeat scroll left top transparent;
	display:block;
	cursor:pointer;
	float:right;
	height:14px;
	margin-left:5px;
	margin-right:5px;
	width:14px;
}

.code {
background-color:#FDFDFD;
border:1px solid #DEDEDE;
color:#56566C;
font-family:monospace;
line-height:18px;
margin-bottom:10px;
overflow:auto;
padding:10px;
}
#red_link{
	color:#AE0302;
	font-weight:bold;
	text-decoration:none;
}
#red_link:hover{
	color:#AE0302;
	font-weight:bold;
	text-decoration:underline;
}
a#red_link, a.red_link{
	color:#AE0302;
	font-weight:bold;
	text-decoration:none;
}
a.red_link:hover{
	color:#AE0302;
	font-weight:bold;
	text-decoration:underline;
}